name: Build and Push nix index

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *' # daily at midnight UTC

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0  # needed to push branches

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes pipe-operators

      - name: Build nix index
        run: |
          nix build .#packages.x86_64-linux.index -L
          cp -Lf result/*.json .
          chmod 644 *.json

      - name: Configure Git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      - name: Commit and push new index
        run: |
          git add index.json
          git stash save
          git checkout --orphan nix-index
          git rm -rf .
          git stash apply
          git commit -m "Update nix index" || echo "No changes"
          git push origin nix-index -f
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
