name: Build package indexes

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'  # daily at midnight UTC

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes pipe-operators

      - name: Build index.json
        run: |
          nix build .#packages.x86_64-linux.index -L
          cp result index.json

      - name: Upload JSON artifacts
        uses: actions/upload-artifact@v6
        with:
          name: index.json
          path: index.json
