name: Build and Push package index

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *' # daily at midnight UTC

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0  # needed to push branches

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes pipe-operators

      - name: Configure Git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      - name: Switch to package-index branch
        run: |
          if git ls-remote --exit-code origin package-index; then
            git fetch origin package-index
            git checkout package-index
          else
            git checkout --orphan package-index
          fi

      - name: Remove old package inex
        run: |
          rm -f index.json

      - name: Build package index
        run: |
          nix build .#packages.x86_64-linux.index -L
          cp -L result index.json
          chmod 644 index.json

      - name: Commit and push new package index
        run: |
          git add index.json
          git commit -m "Update package index" || echo "No changes"
          git push origin package-index
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
