name: Build and Push index.json

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *' # daily at midnight UTC

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 0  # needed to push branches

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes pipe-operators

      - name: Build index.json
        run: |
          nix build .#packages.x86_64-linux.index -L
          mv result index.json

      - name: Configure Git
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"

      - name: Switch to package-index branch
        run: |
          if git ls-remote --exit-code origin package-index; then
            git checkout package-index
          else
            git checkout --orphan package-index
            git rm -rf .
          fi

      - name: Commit and push index.json
        run: |
          git add index.json
          git commit -m "Update index.json" || echo "No changes"
          git push origin package-index
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
